<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ project.project_name }}</h1>
<div>
    email: {{ project.email }}</br>
    description: {{ project.description }}</br>
    master_num: {{ project.master_num }}</br>
    master_cpu: {{ project.master_cpu }}</br>
    master_ram: {{ project.master_ram }}</br>
    node_num: {{ project.node_num }}</br>
    node_cpu: {{ project.node_cpu }}</br>
    node_ram: {{ project.node_ram }}</br>
</div>

<button type="button" onclick="location.href='delete' ">클러스터 삭제</button>

</body>
</html>
